<ion-header class="">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>

		<ion-title>
            <p>Ninjas</p>
        </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<cdk-virtual-scroll-viewport itemSize="80">
		<ion-card (click)="openModal()">
			<ion-card-header matRipple style="display: flex;">
				<ion-card-title>Create new</ion-card-title>
				<!-- <ion-card-subtitle>Category: kids 3</ion-card-subtitle> -->
			</ion-card-header>
		</ion-card>

		<ion-card *cdkVirtualFor="let user of users" matRipple (click)="openModal(user)">
			<ion-card-header style="display: flex;">
				<div  class="card-container">
					<ion-avatar [style]="profileBorder(user.beltColor)">
						<img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
					</ion-avatar>
					<div>
						<ion-card-title>{{ user.fullName }}</ion-card-title>
						<ion-card-subtitle>{{ user.category }}</ion-card-subtitle>
						<b style="margin-right: 4px;">Faixa: {{ user.beltColor }};</b>
						<b>Graus: {{user.stripes}}</b>
					</div>
				</div>
			</ion-card-header>
		</ion-card>
	</cdk-virtual-scroll-viewport>
</ion-content>