
ion-content {
	justify-content: center;
	
}

cdk-virtual-scroll-viewport {
	height: 100%;
	max-width: 512px;

	ion-card {
		cursor: pointer;
	}
}

@media (min-width: 576px) {
	cdk-virtual-scroll-viewport {
		margin: 0 auto;
		ion-card {
			max-width: 512px;
		}
	}	
}